@import "../css/__colors.css";

.card {
  border-radius: 10px;
  border: 1px solid #e0dfdc;
}

.card-body {
  color: var(--main-text-color);
  overflow: hidden;
}

.card button:hover {
  text-decoration: underline;
}

.card-footer {
  cursor: pointer;
  background-color: white;
}

.card-footer:hover {
  background-color: #ebebeb;
}
